########################################################################
# Fichiers objets du projet (mais PAS ceux fournis)
########################################################################

sequence.o
error.o
tableau_dyn.o
arbre_prediction.o
test.o
main.o
arbre_io.o

########################################################################
# Fichiers générés par GCC
########################################################################

*.d
*.gch

########################################################################
# Exécutables générés
########################################################################

main
program
a.out

########################################################################
# Fichiers temporaires éditeurs
########################################################################

*.swp
*.swo
*~
.vscode/
.idea/

########################################################################
# Dossiers de build
########################################################################

build/
bin/

########################################################################
# Systèmes
########################################################################

.DS_Store
Thumbs.db